# ========================
# LinkSphere Environment
# ========================

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=linksphere
POSTGRES_PASSWORD=linksphere_secret
POSTGRES_DB=linksphere

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Kafka
KAFKA_BROKERS=localhost:9092

# OpenSearch
OPENSEARCH_URL=http://localhost:9200

# JWT
JWT_SECRET=cb23002b78d609f50362bfbbff235b1d
JWT_EXPIRY=24h

# Service Ports
USER_SERVICE_PORT=8001
AUTH_SERVICE_PORT=8002
POST_SERVICE_PORT=8003
COMMENT_SERVICE_PORT=8004
FEED_SERVICE_PORT=8005
NOTIFICATION_SERVICE_PORT=8006
SEARCH_SERVICE_PORT=8007
